@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.shadow {
  box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;
}
.shadow-white {
  box-shadow: 0 0 30px #ffffff, 0 0 60px #ffffff, 0 0 90px #ffffff;
}

.bg-zuehlke-insight {
  background-color: #925fa7;
}

.bg-zuehlke-website {
  background-color: #965B9A;
}

.bg-zuehlke-secondary {
  background-color: #e6dfe9;
}

.border-zuehlke {
  border-color: var(--color-gray-500);
}